<footer class="my-5 pt-5 text-muted text-center text-small" th:fragment="footer">
  <p class="mb-1">a24731 (Yuri Butelko) test task implementation for BB</p>
  <p>&copy; 2020 conronavirus edition</p>
</footer>
