<!doctype html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/layout_deafult}">
<head>
  <title>loan list</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div th:replace="fragment/header"></div>

  <div layout:fragment="content" class="container">
    <div class="py-5 text-center">
      <h2>Loans</h2>
    </div>

  <!--
    <div class="row">
      <a href="loan" class="btn btn-primary">Create Loan</a>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Principal</th>
          <th scope="col">Interest</th>
          <th scope="col">Total</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>500</td>
          <td>10%</td>
          <td>550</td>
          <td>
            <a href="loan" class="btn btn-primary">Edit loan</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>200</td>
          <td>12%</td>
          <td>224</td>
          <td>
            <a href="loan" class="btn btn-primary">Edit loan</a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>1000</td>
          <td>3%</td>
          <td>1030</td>
          <td>
            <a href="loan" class="btn btn-primary">Edit loan</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  -->

    <div class="row">
      <a href="loan" class="btn btn-primary">Create Loan</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Principal</th>
            <th scope="col">Interest</th>
            <th scope="col">Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${loans.empty}">
            <td colspan="5"> No loans available </td>
          </tr>
          <tr th:each="loan, stat: ${loans}">
            <th scope="row"><span th:text="${stat.index+1}"></span></th>
            <!-- - <span th:text="${loan.id}"></span> -->

            <td><span th:text="${#numbers.formatDecimal(loan.principal, 0, 'COMMA', 2, 'POINT')}"></span></td>
            <td><span th:text="${#numbers.formatDecimal(loan.interest, 0, 'COMMA', 2, 'POINT')}"></span>%</td>
            <td><span th:text="${#numbers.formatDecimal(loan.total, 0, 'COMMA', 2, 'POINT')}"></span></td>
            <td>
              <!--a href="loan" class="btn btn-primary">Edit loan</--a -->
              <a th:href="@{loan(id=${loan.id})}" class="btn btn-primary">Edit loan</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- closing div class="row" -->

  </div><!-- closing div class="container"-->

  <div th:replace="fragment/footer"></div>
</body>
</html>
